/* Flex*/
nav {
    display: flex;
    flex-direction: row;
}
.nav-header { flex-grow: 1; }
.nav-item { flex-grow: 0; }

nav > * {
    padding: 1ex;
}
.item {
  display: flex;
  flex-direction: row;
}
.item > * { padding: 0.5em ; }
.item-content { flex: 1; }
.item-image { flex: 2; }

/* I'm not sure why images aren't restrained by their flex sizes */
.item-image {
    max-height: 50em;
    max-width: 66%;
}

/* padding & margin */
.item { padding: 2em; }

/* Styling */
body { max-width: 80em; margin-left: auto; margin-right: auto; }

* { font-family: arial; }
