<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <span class='nav-header'> Deepa Juliana </span>
      <a class='nav-item' href="/">Art</a>
      <a class='nav-item' href="/">Design</a>
      <a class='nav-item' href="/">Co-creation</a>
    </nav>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; Deepa Rodrigues
    </footer>
  </body>
</html>
