<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/style.css">
  </head>
  <body>
    <nav>
      <span class='nav-header'> Deepa Juliana </span>
      <a class='nav-item {%if page.collection == "art"        %}nav-current{% endif %}' href="{{site.baseurl}}/art">Art</a>
      <a class='nav-item {%if page.collection == "design"     %}nav-current{% endif %}' href="{{site.baseurl}}/design">Design</a>
      <a class='nav-item {%if page.collection == "cocreation" %}nav-current{% endif %}' href="{{site.baseurl}}/cocreation">Co-creation</a>
    </nav>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; Deepa Rodrigues
    </footer>
  </body>
</html>
